[2016-10-25 07:09] shankari opened #8 "Login consistently fails with error "Could not determine client ID from request.""
This was reported multiple times during the last round of testing, but no amount of poring through the logs could figure out why. But now I am miraculously stuck in that state in debug mode. So I can attach the debugger and figure out what's going on and how to fix it.

First, it is not a server side issue. Looking at the history of post and get calls, there isn't anything related to the metrics o

[2016-10-25 07:11] shankari commented on #8
Adding debugging shows that the error is generated here.

[code]

[2016-10-25 07:11] shankari commented on #8
but why is the clientID invalid? Or is it?

[2016-10-25 07:17] shankari commented on #8
while refreshing the token, the `oldAuth` is shown below. Note that both `clientID` and `clientSecret` are null.

[code]

[2016-10-25 07:25] shankari commented on #8
Doing some searching for the error message,
```Could not determine client ID from request```
we get
https://github.com/google/google-api-objectivec-client-for-rest/issues/35

which claims that if you are killed (as opposed to quit) then you get this error.

[2016-10-25 16:21] shankari commented on #8
Couple of more observations. Note that all fields of the `oldAuth` are NULL. We can see this from the logs as well.

[code]

So basically the auth we read from the keychain is completely empty, and has no clientID either. That is why the clientID is invalid and we are unable to get a token.

Note also that when I connect with XCode, and following Devices -> (sel phone)
-> View Device Logs, I see t

[2016-10-25 16:25] shankari commented on #8
Copies of the logs + "crash" backtraces.

[crash_stacktrace_1.gz](https://github.com/e-mission/cordova-jwt-auth/files/551161/crash_stacktrace_1.gz)
[crash_stacktrace_2.gz](https://github.com/e-mission/cordova-jwt-auth/files/551160/crash_stacktrace_2.gz)
[iphone-login-crash.gz](https://github.com/e-mission/cordova-jwt-auth/files/551159/iphone-login-crash.gz)

[2016-10-25 16:29] shankari commented on #8
It seems pretty clear what is happening here.
- we take too long during sync (for unknown/arbitrary reasons)
- the OS crashes the app
- similar to https://github.com/google/google-api-objectivec-client-for-rest/issues/35, this corrupts the stored token
- we can't log in any more
- we don't report this to the user

[2016-10-25 16:34] shankari commented on #8
It looks like there are multiple fixes:
- we could try to fix the slow sync, but it looks like it is rare and can happen normally - e.g. with bad network connectivity
- we should definitely notify the user when this happens so that they can sign in again
- we can file a bug against the GTMOAuth team to fix the underlying library

Note that, unlike I had originally thought, we cannot just reset the

[2016-10-25 16:34] shankari commented on #8
I should actually try this out on the broken phone.

[2016-10-25 16:59] shankari commented on #8
emission logs:
[loggerDB.iphone.broken_login.gz](https://github.com/e-mission/cordova-jwt-auth/files/551254/loggerDB.iphone.broken_login.gz)

[2016-10-25 17:45] shankari commented on #8
From the e-mission logs, ... does not appear to be the case. In particular, the
last reported "crash" was at 8:55, but the data was actually completely pushed
by 8:53.

[code]

A subsequent call at 9:44 was successful (although note that the token did not
need to be refreshed since it was valid)

[code]

And then, finally, at 9:53, we get a background fetch call and then when we
read the data, it

[2016-10-25 18:23] shankari commented on #8
I am so glad that I did!

It turns out that `self.clientId` and `self.clientSecret` are also NULL. That explains why the token has all null values. If I don't have the auth to read the keychain, I sure as hell don't want to be given the refresh token.

But IIRC, the clientId and clientSecret are read from a plist file. Why TF are they null?!

[code]

[2016-10-25 18:40] shankari commented on #8
from https://github.com/e-mission/cordova-jwt-auth/issues/8#issuecomment-256124165,

because they are set in `BEMAppDelegate.didFinishLaunchingWithOptions` and that is never called.

[code]

The breakpoints on launch are:
- `AppDelegate.m: didFinishLaunchingWithOptions`
- `AuthCompletionHandler.m: sharedInstance`

So we call `BEMAppDelegate.didFinishLaunchingWithOptions` from the `pluginInitialize

[2016-10-25 18:49] shankari commented on #8
Because `isConsent` returns false.
[code]

[2016-10-25 18:52] shankari commented on #8
And that's because `getDocument` returns NULL with key = `@"key.usercache.consent_config`

[code]

[2016-10-25 19:10] shankari commented on #8
Right before everything broke, we had 8 documents in the cache

[code]

But probably due running the push and pull in parallel, we cleared the cache
AFTER the pull. So if pull finishes before push, we lose the consent document
and stop syncing further.

[code]

Let us see if:
- we have seen this (push after pull) happen before
- what is in the usercache now

[2016-10-25 19:13] shankari commented on #8
From the UI, only one transition at 8:52, and nothing else. Makes sense - if the consent was turned off, we would not collect any data. This also indicates that this is not the same error as the upgrade to 1.0, since at that time, data collection continued although the login failed.

[2016-10-25 19:16] shankari commented on #8
After exporting from the usercache, we find this.

[code]

[2016-10-25 19:24] shankari commented on #8
This actually seems to be more common than not

[code]

[code]

[code]

[code]

So why didn't this fail before?

[2016-10-25 20:00] shankari commented on #8
I have no idea.

We have zero entries in the cache.

[code]

We got a geofence exit.

[code]

We got locations.

[code]

We got a trip start (visit end)

[code]

Some more locations

[code]

Got trip end (visit start)

[code]

Was able to re-read the auth, which wasn't expired.

[code]

This has even happened before but we were able to recover!

[code]

Let's see how we were able to recover! Was t

[2016-10-25 20:12] shankari commented on #8
the background, versus the most recent call in the foreground?

Get after push.

[code]

Opened from the UI.

[code]

Then a bunch of un-expired accesses.

[code]

Then a sync in which we deleted everything except 3 entries (I wonder which
three those were, maybe the consent was included).

[code]

Then a sync with only 2 entries left.

[code]

Then a sync with a big gap between the sync start and

[2016-10-25 20:15] shankari commented on #8
The fix is fairly simple - we just clear the entries after the push and the documents before the pull. That is actually a good fix for the android side too, just in case I try to parallelize that.

I am still worried about not understanding the refresh/consent behavior, so will add additional logging for it just in case it recurs. Will try to repro for the rest of today to understand better and th

[2016-10-25 21:47] shankari commented on #8
Used force sync.
It was successful. no push but pull, so we have a consent doc again.
So everything started working again.

Logs from the force sync.

[code]

[2016-10-25 21:49] shankari commented on #8
I'm going to add more/better logs, and then take a short trip to try and understand what's going on better. Then it is time to fix the underlying code and move on.

[2016-10-26 01:58] shankari commented on #8
Ok, so I can sort of reproduce this by using the "Nuke all buffers and cache" option. With that, the cache gets completely cleared. But doing a force sync works anyway.

[code]

But not expired, so works

[code]

[2016-10-26 03:22] shankari commented on #8
what happens if it is expired. Let's retry, including one with killing and restarting (which should make currAuth == NULL.

### Expired but not killed ###

Expired, but apparently not killed, so clientID and secret were still in memory
and refresh worked.

[code]

### After killing ###

We deleted everything, but the javascript claims that consented = true.
Although it doesn't seem to get to the n

[2016-10-26 03:27] shankari commented on #8
So we do use the native JWT auth code for all calls, so why didn't the non-sync path use this.
Aha! Because the values are set in the pluginInitialize.
And that is not called onLoad.
But the plugin is loaded when we navigate to the control screen to clear and sync.

I'm going to leave this running while I have dinner and confirm that the force sync also fails if not triggered manually.

[2016-10-26 07:40] shankari commented on #8
Confirmed!

Cleared all entries and killed the app.

[code]

After that, we were woken up for every push, but then killed. There's probably
a crash somewhere in the code when we can't auth for the background sync.

[code]

No further crashes. I guess app was killed due to lack of progress or sth.
Should probably improve error handling of the remote push to avoid that.

[2016-10-26 18:08] shankari commented on #8
So there are two fixes:
- Split the clear of the entries and the documents so that we can do one on push and the other on pull
- Ensure that we init the jwt auth code even if consent is turned off, so that if we do get stuck in a situation where the consent is deleted by mistake, we can pull it from the server and recover. But this is definitely much less important because unless the app is killed

[2016-10-26 18:15] shankari commented on #8
we need to figure out what to do about RW documents. I propose that, for now, the last RW document should always be retained. This is particularly important for things like consent because the default is not consented.

All our RW documents currently represent user inputs, echoed back, so this will ensure that we never lose user configurations. We need to figure out a solution for server side over

[2016-11-12 17:59] shankari commented on #8
This fix (https://github.com/shankari/cordova-jwt-auth/commit/2185c348215c5a014bf609ad7f7f675af78cc720) seems to have broken regular background auth in the case in which we do have consent. And the auth is broken even when the UI is launched. Force killing the app and restarting fixes it, but that is a shitty solution.

Log showing this behavior.
[loggerDB.auth_error_second_time.withdate.log.gz](h

[2016-11-13 21:10] shankari commented on #8
First error is here

[code]

Just before that, we started a sync and detected that the token needed to be refreshed.

[code]

And just before that, we had successfully launched a sync, along with a valid token.

[code]

As part of that, we refreshed the token.

[code]

And then we read the docs.

[code]

And then nothing until the next background sync started (the one that failed) started.

16883,

[2016-11-13 21:41] shankari commented on #8
Note also that because we deleted all documents, and then were terminated before we could save the newly retrieved documents, we lost consent. That is probably the reason why we were losing consent earlier as well. This is not an issue for an installs after https://github.com/shankari/cordova-usercache/commit/f35f39a1766ee660519a7481eb05c8ac7d8be43b, but is an issue for prior installs because the

[2016-11-13 22:18] shankari commented on #8
This happened again after I fixed it the first time. This time:

[code]

Sync completed on the first thread

[code]

Sync completed on the second thread

[code]

Next sync starts, but currAuth == null. Note that since the sync completed this
time, we have consent and the other plugin initializations happen after the
currAuth check.

[code]

[2016-11-13 22:51] shankari commented on #8
Ok, the theory in https://github.com/e-mission/cordova-jwt-auth/issues/8#issuecomment-260213092 is borne out

First break

[code]

Second break

[code]

[2016-11-13 23:05] shankari commented on #8
So I think that we need two fixes:
- To fix https://github.com/e-mission/cordova-jwt-auth/issues/8#issuecomment-260213092, we should move the setting of the client stuff to the sharedInstance method. I am not sure why this is not in there in the first place. We already have a dependency from that plugin to the settings, why not just set it when it is created?

- To fix https://github.com/e-mission

[2016-11-14 22:30] shankari commented on #8
Ran into the data collection error even after this fix. Details.

Sync started, consent is true. Sync does not complete (probably due to network errors).

[code]

Sync started, consent is true. Sync does not complete (probably due to network errors).

[code]

Sync started, consent is true. Sync completes and deletes `rw-documents` that were before the min(time_period_end, last document_write_ts).

[2016-12-05 22:36] shankari commented on #8
Logging showed that this was because of not looking at the key while deleting.
https://github.com/e-mission/cordova-usercache/issues/24#issuecomment-261474390

Should be finally fixed by
https://github.com/e-mission/cordova-usercache/issues/24

[2016-12-05 22:36] #8 closed

[2017-05-22 01:01] shankari opened #14 "Notification "Please login to continue server communication" generated before signing in"
The `cordova-jwt-auth` plugin is currently launched on startup. In general, we want to continue doing this because as part of startup, we attempt to get a valid auth token, so subsequent server calls are faster since they don't have to wait for the token.

We also check to see if the auth is successful at startup - it is not, we prompt to re-login. This should avoid the issues with auth that we ha

[2017-05-22 15:44] shankari commented on #14
Obvious solution is to store the state of when the onboarding is complete and only generate the notification if it is. But the problem is where to store it. Obvious solution is to store in the usercache, but we currently don't have a dependency between auth and usercache and I am not sure I want to introduce one.

Another option is to move the check to javascript, in which case there is no depende

[2017-05-22 15:52] shankari commented on #14
Final option is to not do the check in the init code at all, but as part of a "periodic checks" module that runs at the start and end of every trip or periodically or sth. We already do consent checking there, why not add sign in checking?

[2017-05-22 16:03] shankari commented on #14
Also, we may try to run the activity invisibly in the background using something like
https://github.com/katzer/cordova-plugin-background-mode
or
https://github.com/MobileChromeApps/cordova-plugin-background-app

in which case the "periodic checks" can be in javascript.

[2017-05-22 16:04] shankari commented on #14
so the clear winner is a "periodic checks" module, either in native code or in javascript.

[2017-05-22 16:05] shankari commented on #14
that restructuring is too much work though. Let's add the dependency for now and restructure later.

[2017-06-26 13:22] JohnMcLear opened #16 "Provide docs"
Please provide documentation

[2017-08-19 21:55] shankari opened #17 "Refactor to make it easier to add other auth providers"
we want to be able to support other auth providers
In particular, we want to support:
- OpenID Connect, for @Andrew-Tan
- "dev mode" with token = user email, for testing against localhost

[2017-08-20 00:17] shankari commented on #17
Pull request for fix is #18

[2017-08-20 00:41] shankari commented on #17
First step is to remove all references to google from the plugins and the internal interface and come up with a standard interface that we can generalize.
These changes are in c84b93efc3e68d253e018e80edffc159246f0e94 (iOS) and eddfe9bd2bedf5f932f30ee2fcbc9de7bbecf497 (android).

Both the changes work for both initial install, upgrade, and re-launch, with one caveat.
When I test the initial install

[2017-08-20 05:41] shankari commented on #17
Second step is to create an actual interface (`interface` in android and `@protocol` in iOS) that defines the methods for the auth methods. Then, we create a factory to obtain the correct instance of the interface by using the connection settings. Finally, we change the external references to use the new factory and not the auth implementation directly.

Changes:
- iOS: https://github.com/e-missio

[2017-08-20 05:42] shankari commented on #17
Testing done:
initial install and re-launch on both android and iOS

[2017-08-20 05:42] shankari commented on #17
Note: need to test upgrade from store version
use TestFlight, beta channel...

[2017-08-20 05:58] shankari commented on #17
Merging everything other than the auth changes because from this point on - all changes are going to be around adding other auth implementations.

We may need to change `uiSignIn()` and callback interfaces slightly as we experiment with the dev mode implementation, but that should only affect the plugin, no other code.

[2017-08-21 04:10] shankari commented on #17
Next, change the `uiSignIn()` interface to pass in the plugin. This ensures that:
- we have the full plugin to make javascript calls
- we don't have to do awkward stunts like setting the activity or the controller
- we can register for the activity callback only for the google auth plugin since it is not needed for other plugins

This change is https://github.com/e-mission/cordova-jwt-auth/pull/18

[2017-08-21 04:11] shankari commented on #17
Next, rename the google auth wrapper on iOS to match what it actually does instead of the generic-sounding `AuthCompletionHandler`.

Related changes are
https://github.com/e-mission/cordova-jwt-auth/pull/18/commits/f9b82d8e8a9e8583cce613cf37583e4e68fa0526, https://github.com/e-mission/cordova-jwt-auth/pull/18/commits/a2f008a11f6be0e8e336f113682bf45da69fe179, and https://github.com/e-mission/cordov

[2017-08-21 04:17] shankari commented on #17
Finally, we are ready to move to the dev implementation. The high level plan is:
- execute javascript that prompts the user for their email
- return it to native code through a custom URL (since we have it defined anyway)
- save into file or keychain
- return from there forevermore

[2017-08-21 04:51] shankari commented on #17
Ran into lots of issues while returning the email via custom URL.
Concretely, how do we open that URL programmatically?

While I initially experimented by changing the javascript launched as part of the app, this part can be tested by connecting with a debugger to the cordova app and typing commands into the console.

My first try was to use XHR, but it failed because it doesn't appear to support

[2017-08-21 04:56] shankari commented on #17
Also, FYI, reloading into the same window with the `_self` option doesn't work even when we have an IAB. For example:

Step 1
-----
[code]

Blank IAB, messages about load starting

[code]

STEP 2: Try to open canonical website with `_self`

[code]

No change, still blank iab.

STEP 3: Open a canonical website with `_blank`
nytimes shows up. Note that only one window is visible in the task manager,

[2017-08-21 19:55] shankari commented on #17
Today morning, I tried the same code on android, and it didn't work. I kept getting errors saying that the URL was not supported.

[code]

| Doesn't work |  `window.open` still doesn't work | `_system` works! |
|-------|------| ----- |
| ![screenshot_1503343843](https://user-images.githubusercontent.com/2423263/29535047-40a758c4-866d-11e7-8e94-f821b3470806.png) | ![screenshot_1503344367](https://u

[2017-08-21 20:19] shankari commented on #17
Ok so almost final set of changes.
First, finally add support for the dummy dev mode auth described in
https://github.com/e-mission/cordova-jwt-auth/issues/17#issuecomment-323642937
in 4d5eeccba3d18ae03518e805193bbb9188941851

Because we have a dummy auth mode now, we can return it by default instead of failing or returning null if nothing is configured. But what if we took it one step further?

I

[2017-08-21 23:36] shankari commented on #17
This is the final set of changes, and it is an implementation-only change. While having the javascript in the native code files was fine for the first pass, it is not a long-term solution for the following reasons.
- the strings that represent lines of code have to be quoted with `""`, which means that we have to use `''` for strings *in* the code. Combined with the lack of syntax highlighting, th

[2017-08-21 23:43] shankari commented on #17
Bumped up version number in f25bf22b86af8d90c8b5f2bc7deaede94e1074f8 and merged.

[2017-08-21 23:43] #17 closed

[2017-08-21 23:45] shankari commented on #14
Done. Closing issue.

[2017-08-21 23:45] #14 closed

[2018-08-19 22:38] shankari opened #30 "AppAuth not working on certain versions of iOS"
Got a report from the TCAT folks that the AppAuth-based authentication is not working on certain versions of iOS.
Works on certain others.
Reported to not work on `10.2.1`

[2018-08-19 23:00] shankari commented on #30
Tried to reproduce on version 9.3
Everything worked fine until auth - the webview was launched with the open-to-all signin page.
When I signed in with the test account provided by Anat, though, the page load hung.
I waited for a long time, and then hit "Done" to close the WebView.
I then got this error on the screen.

![img_0061](https://user-images.githubusercontent.com/2423263/44314079-f7bdd500-

[2018-08-19 23:18] shankari commented on #30
Errors in the console log. I am not sure if all of these are relevant.

[code]

It was stuck here forever and in the sign in screen of the open-to-all page forever.
Finally, when I hit "Done", I got

[code]

[2018-08-19 23:43] shankari commented on #30
Going to focus on the

[code]

line since that is where I observed it hanging.

That line is actually from javascript.

[code]

So we **are** getting called back with the URL.
Looking at the native code, though, we do see the message from `doAuthWithAutoCodeExchange`

[code]

but we don't see the callback

[code]

[2018-08-19 23:54] shankari commented on #30
The native plugin interface `BEMJWTAuth.m` calls `handleNotification` on `applicationLaunchedWithUrl`. Could this error message be the key?

[code]

[2018-08-20 00:01] shankari commented on #30
It certainly looks like it. It looks like the `OpenIDAuth` code does not expect the custom URL callback to be called through `applicationLaunchedWithUrl`

[code]

Dunno how it is supposed to be called.
Going to experiment with the emulator in different versions...

[2018-08-20 04:04] shankari commented on #30
Ok, so this is 100% reproducible in the emulator as well. I used a 9.2 emulator and tried to log in.

Messages:

[code]

@Andrew-Tan, did you try on an emulator running an older version of iOS?
e.g. https://stackoverflow.com/questions/4262018/xcode-simulator-how-to-run-older-ios-version#8477254

[2018-08-20 04:14] shankari commented on #30
If I run the exact same code against an emulator running 11.4, everything works and the log messages are:

[code]

Note that we do get the "Got authorization tokens" message (https://github.com/e-mission/cordova-jwt-auth/issues/30#issuecomment-414164434).

Note also that we **don't** get the `handleNotification` and `GOT URL` messages. So in iOS 11+, the AppAuth code intercepts the callback in som

[2018-08-20 04:29] shankari commented on #30
Ah, in iOS10, the signature for `openURL` changed.
https://stackoverflow.com/a/39447154

[code]

[2018-08-20 04:31] Andrew-Tan commented on #30
In general, for example, the url emission.auth://oauth2redirect?state=n_XnEhZM6d3VNPvOQutFVve3zwtra6oQ6e6Gm-W-fAA&code=uss.cT8CftoN2_Ft527TPuR9qdh1W7sL8F9JbJxIdM0FZ1I.5f575a3f-13d3-4f82-a907-9a858a010b12.29327dfe-bbca-4681-887b-c8c40f3f2ae9 should be passed down to the AppAuth library, and it'll use the code to negotiate access token with the auth server.

[2018-08-20 04:40] shankari commented on #30
@Andrew-Tan yeah but it should be passed down by calling `openURL` (because emission has registered for the `emission.auth` protocol). The problem is that `openURL` in the cordova app delegate is called for `iOS 9.2` but not for `iOS 11.4`.

[2018-08-20 05:15] shankari commented on #30
@Andrew-Tan ok I know what is going on.
The key is here: (note that we are on version 0.91.0)
[code]
https://github.com/openid/AppAuth-iOS/blob/0.91.0/Source/iOS/OIDAuthorizationUICoordinatorIOS.m#L91

Note that for iOS version 11+, the library does **not** use the URL redirection for the callback. Instead, it specifies a `completionHandler` that is called directly, and in turn, calls `resumeAutho

[2018-08-20 06:52] Andrew-Tan commented on #30
Please see this issue: https://github.com/openid/AppAuth-iOS/issues/232

Seems like iOS version not yet support custom redirect scheme

[2018-08-20 10:54] shankari commented on #30
wrt https://github.com/e-mission/cordova-jwt-auth/issues/30#issuecomment-414193498, I read the article and it looks like what `AppAuth` supports is consistent with their recommendation, even for iOS9. They are using `SafariViewController`, with a customURL ('emission.auth` in our case) as the redirectURL.

[2018-08-22 17:05] shankari commented on #30
@Andrew-Tan @uwtcat note that after Andrew makes the fix, because it is a native code change on iOS, it also requires passing through app store review, which can take upto a week.

Current app store review time **average** is 3 days.
http://appreviewtimes.com/

[2018-08-25 06:06] Andrew-Tan commented on #30
@shankari How can I get the redirect URL from NSNotification?

[2018-08-25 07:02] Andrew-Tan commented on #30
@shankari Nevermind... I've figured it out. Just made the change and created a pull request.

[2018-08-31 19:05] shankari commented on #30
While testing this in a build that also included a fix for https://github.com/e-mission/e-mission-phone/issues/443, I ran into a several issues with ionic deploy - the feature that allows us to "skin" the UI efficiently on older versions of iOS (iOS 9, iOS 10).

When I filed an issue with ionic, the response was to point me to https://github.com/e-mission/e-mission-phone/issues/443, which says tha

[2018-08-31 20:01] shankari commented on #30
Ok, so I reverted to the old version of ionic deploy and tested on iOS 9.2, iOS 10.2 and iOS 11.4. In all cases, the app was installed correctly, the UI-only update was deployed properly, and I got to the screen to log in to the AppAuth server.

Unfortunately, https://accounts.open-to-all.com/ currently has a gateway error, so I can't test further.

However, I have uploaded a new version (1.0.4) t

[2018-09-04 02:58] shankari commented on #30
Fixed in #31

[2018-09-04 02:58] #30 closed

[2018-09-04 20:55] shankari commented on #30
Very surprisingly, the update went through app store review in one day. Maybe they are catching up with their backlog after labor day weekend?

You can resume beta testing...

[2018-10-20 04:58] uwtcat opened #33 "emTripLog crashes on opening on iOS"
Hi.
We're seeing a different issue having to do with the emTripLog App crashing as soon as the 'join the study link' is clicked on in the second step. It doesn't even get to the AppAuth stage for opentoall.

We have a video of this which I'll try to attach.

Tagging both of us here: @uwtcat @Andrew-Tan

Anat

[2018-10-20 18:44] shankari commented on #33
Argh! I forked and changed the customization plugin as well so that we could change the base app without resetting the UI, but I didn't test the fork on older versions of iOS. Let me try to reproduce...

[2018-10-20 20:37] shankari commented on #33
I just tried clicking on the link on iPhone 11.4, 10.2, and 9.2 and it didn't crash. I'd love to know the iOS version so that I can reproduce. Also, did the person have the app already installed, or is this a fresh install of emTripLog?

[2018-10-21 00:36] shankari commented on #33
This is really bothering me, because I can't reproduce it, and I can't work closely with the tester to investigate.

Have you seen the same behavior on your own phones? In particular, if @Andrew-Tan sees the same issue, I can give him instructions on how to figure out the error using the console.

[2018-10-21 02:01] uwtcat commented on #33
It was iOS 12.1

On Sat, Oct 20, 2018 at 5:36 PM shankari <notifications@github.com> wrote:

--
Anat Caspi, PhD
Director, Taskar Center for Accessible Technology
Paul G. Allen School of Computer Science & Engineering, University of
Washington
caspian@cs.washington.edu

[2018-10-21 02:47] shankari commented on #33
Thanks. I don't see a 12.1 simulator on xcode; will see if I can download it and try to reproduce. In the meanwhile, have you tried it on your own phones, and can you confirm that it works on older (non 12.1) phones?

[2018-10-21 02:59] valin1 commented on #33
I currently have iOS 11.4.1 on my phone, and the greenTrip client link (https://e-mission.eecs.berkeley.edu/#/client_setup?new_client=greentrip&clear_usercache=true&clear_local_storage=true) works fine with emission when I click on the link. The opentoall client (https://e-mission.eecs.berkeley.edu/#/client_setup?new_client=opentoall&clear_usercache=true&clear_local_storage=true) immediately crash

[2018-10-21 04:57] shankari commented on #33
@valin1 thank you for the clarification. That is useful for two reasons:
- if we can reproduce it, we can fix it
- it suggests that the issue is with the opentoall client, which means that I don't have to push a native code update

However, I've tried to reproduce this on an iPhone6 emulator running iOS 11.4 and even if I click on the opentoall link, it doesn't crash.

Can you tell me which phone

[2018-10-21 07:28] valin1 commented on #33
@shankari I have an iPhone7.

[2018-10-21 19:58] shankari commented on #33
I am able to reproduce *a* crashing issue with the opentoall client. I am not sure if this is the issue, but it should be an easy fix. The one that I am able to reproduce is a dup of https://github.com/e-mission/e-mission-transition-notify/issues/18 but under slightly different circumstances.

The behavior that I see is as follows:
- install the base app, click on the opentoall link: works! (this

[2018-10-21 21:46] shankari commented on #33
@uwtcat can you ask the reporter whether this was the first time they clicked the link? I'd also requested this earlier.

In the meanwhile, since the workaround for https://github.com/e-mission/cordova-jwt-auth/issues/33#issuecomment-431699033 is fairly straightforward, and it clearly an unacceptably real issue, I'll just make the change anyway. It should take no more than 10 mins tops to code, so

[2018-10-22 05:03] shankari commented on #33
Obvious fix is to remove the call to `DataCollection.setConfig` from the startup code path.
I poked around a bit, and although that code is in the `cci-berkeley` branch, it was not in any of the tripaware branches, and they worked just fine.

https://github.com/e-mission/e-mission-phone/blob/urap-2017-control/www/js/app.js

[2018-10-22 21:50] jackcsullivan commented on #33
On iOS 12.0.1, the 'join the study link' works when the emTripLog app is opened but the app crashes if the app is not opened.

[2018-10-22 22:06] shankari commented on #33
I just tried this exact use case with iOS 11.4 (emulator) and wasn't able to reproduce. I launched the app via xcode, then killed it, and clicked on the link to re-launch it. The app was launched properly and I got the popup to download a new UI update. So this seems to be specific to iOS 12.0.1.

@valin1 I think you said that you have an older version of iOS; can you try to reproduce and confirm

[2018-10-22 22:14] shankari commented on #33
in order to get an iOS 12 emulator, it looks like I need to upgrade to xcode 10. I hate doing this because whenever I upgrade xcode, random stuff breaks. In particular, support for older versions is removed.
@uwtcat I might not be able to support iOS9 after the upgrade. Will that be a problem?

[2018-10-22 23:03] shankari commented on #33
@uwtcat in the meanwhile, workaround is to launch the app after installing and then click on the link, that should work reliably. Please let me know ASAP wrt xcode upgrade. There is no guarantee that iOS9 support will be dropped, but there is the possibility, and once I have upgraded, I cannot go back

[2018-10-22 23:05] shankari commented on #33
I am currently on Xcode 9.4 and the oldest iOS version supported is 8.0. It seems reasonable that if I upgrade to Xcode 10, the oldest version supported will be iOS9. I will have to upgrade at some point, though, so this is just delaying the inevitable... :(

[2018-10-23 06:14] shankari commented on #33
upgraded. I can now see an iOS12 emulator!
Unfortunately, after the upgrade, there is now a build issue. I can't build from either xcode or the command line.

Fun times!

[2018-10-23 06:16] shankari commented on #33
Build issue is known and there is a workaround https://github.com/apache/cordova-ios/issues/407

[2018-10-23 16:43] shankari commented on #33
I am not able to reproduce, even on the iOS 12.0 emulator.
I ran the app from xcode, killed it and then clicked on the link.
download prompt propped up

[2018-10-23 17:19] shankari commented on #33
aha! I was finally able to reproduce! In order to do this, I had to:
- export the archive as an `.ipa`
- extract the `.app` from the `.ipa` (I should really upload the `.app` along with the `.apk` for the android versions so I don't have to do this again)
- install the `.app` directly in the emulator; note that this doesn't actually launch the app
- click on the link
- I see the splash screen and

[2018-10-23 17:33] shankari commented on #33
Hm. I take that back. The app didn't even launch normally. This is probably because the approach of extracting the `.app` file from the `.ipa` was broken. Which is expected behavior.
https://stackoverflow.com/questions/517463/how-can-i-install-a-ipa-file-to-my-iphone-simulator#517541

[2018-10-23 18:02] shankari commented on #33
will try to test tomorrow on @jackcsullivan phone. Looks like this is not reproducible in the emulator.

[2018-10-23 18:03] shankari commented on #33
I should really upload `.app` builds to make this kind of testing easier in the future.

[2018-10-23 19:06] shankari commented on #33
ok so I finally was able to reproduce @jackcsullivan's issue by generating a new `.app` file . I am still not sure if this is the issue reported by the original user :)

Again, steps to reproduce:
- generate a `.app` file by building with cordova
- install the `.app` file by dragging it to the emulator. DO NOT LAUNCH the `.app` file
- click on the second link to customize the app WITHOUT launching

[2018-10-23 19:16] shankari commented on #33
This is not new; the relevant URL callback was added over a year ago
https://github.com/e-mission/cordova-jwt-auth/commit/268d52e46bc206ddf2b11be0f671da0c268c56e1

and the `SettingsNotFound` exception was also added around the same time
https://github.com/e-mission/cordova-connection-settings/commit/56335a534c6c1a8d2e85abe939735afad6fc4628

This has never been reported so far. I suspect that this

[2018-10-23 19:58] shankari commented on #33
We currently always expect a connection settings call as part of `app.js`, so this works. Not sure that this is the long term solution; do we really want to force all configurable apps to set the connection settings? An option would be to fall back to the default settings if there was nothing in the database.

But I think that the worry then is that the in-memory connection configuration will stay

[2018-10-23 22:20] shankari commented on #33
Fix is attached.
[issue_33.patch.gz](https://github.com/e-mission/cordova-jwt-auth/files/2508282/issue_33.patch.gz)

[2018-10-23 22:31] shankari commented on #33
@uwtcat how much testing can we ask the original reporter to do? I can upload a release with the fix to TestFlight, can she test it from there before I submit it to the app store? I don't like submitting back-to-back releases to the store because I am worried that the reviewers will think that the app is flaky. So if she can test from TestFlight and confirm that it works, I can submit to the app s

[2018-10-23 23:53] shankari commented on #33
@uwtcat uploaded a release with the fix to TestFlight. Unfortunately, for the original reporter to test it anonymously, without giving me their email address, it has to go through review. Once that is done, I can share a public link for them to verify that the issue is really fixed, and then I can publish to the app store.

Please let me know whether this is possible, and what the timeline that th

[2018-10-24 05:16] shankari commented on #33
@uwtcat I have pushed two fixes - one caused by clicking on the link twice, and the other caused by clicking on the link without launching the app first. There might be a third issue that I haven't found - the video showed that there was a problem, but not necessarily how to reproduce it.

Also, I will share a TestFlight link here once I can do so. You want to test against version 1.1.1

[2018-10-24 05:18] uwtcat commented on #33
Hi Shankari, can I PM you with an Apple ID for testflight?

On Tue, Oct 23, 2018 at 10:16 PM shankari <notifications@github.com> wrote:

--
Anat Caspi, PhD
Director, Taskar Center for Accessible Technology
Paul G. Allen School of Computer Science & Engineering, University of
Washington
caspian@cs.washington.edu

[2018-10-24 13:45] uwtcat commented on #33
Just making sure the directions for testers remain the same:

uninstall the testflight version,
Reinstall the new testflight version
then click on the customization link in the second step
https://e-mission.eecs.berkeley.edu/#/client_setup?new_client=opentoall&clear_usercache=true&clear_local_storage=true

Specifically, we are not asking them to make sure that they DO NOT
launch emTripLog
before t

[2018-10-24 18:33] shankari commented on #33
Directions for testers:
- uninstall any previous emission or emTripLog app, whether from TestFlight or from the app store
- download version 1.1.1 of emTripLog using TestFlight instead of step 1 from
https://e-mission.eecs.berkeley.edu/#/client_setup?new_client=opentoall&clear_usercache=true&clear_local_storage=true
- do whatever you did before that caused the crash
- ensure that app does not cras

[2018-10-24 22:03] shankari commented on #33
@uwtcat I have sent invitations to both users whose appleids you sent me on PM, but neither of them has installed yet :( Please let me know what they report after testing.

[2018-10-25 03:35] uwtcat commented on #33
@mooc reported:Just tried it out on iOS 12.1.  I crashed the first time
clicking the link, but second time around it worked and I successfully
applied UI update.

On Wed, Oct 24, 2018 at 3:03 PM shankari <notifications@github.com> wrote:

--
Anat Caspi, PhD
Director, Taskar Center for Accessible Technology
Paul G. Allen School of Computer Science & Engineering, University of
Washington
caspian@cs.

[2018-10-25 04:09] shankari commented on #33
@mooc, were you on version 1.1.1 of the emTripLog app (from TestFlight) during the crash?
What was the exact set of steps that you performed during the crash?

[2018-10-25 05:45] shankari commented on #33
@jackcsullivan can you also test version 1.1.1 of the app (from TestFlight) and see if you can reproduce?
https://testflight.apple.com/join/V7uWDmBc

[2018-10-25 21:29] shankari commented on #33
@mooc, @jackcsullivan any updates?

[2018-10-26 00:03] uwtcat commented on #33
My Apologies, I used the wrong handle. Tagging @alexmooc2.

On Thu, Oct 25, 2018 at 2:29 PM shankari <notifications@github.com> wrote:

--
Anat Caspi, PhD
Director, Taskar Center for Accessible Technology
Paul G. Allen School of Computer Science & Engineering, University of
Washington
caspian@cs.washington.edu

[2018-10-26 19:40] shankari commented on #33
@alexmooc2, you can either use the invite or the public URL
https://testflight.apple.com/join/V7uWDmBc

And if you can still reproduce once you are sure that it is version 1.1.1 (uninstall, install version 1.1.1, try to reproduce crash), then I will give you instructions on how to figure out the error from the console. Because I am not able to reproduce the crash
[repro_link_crash_v111.mov.gz](htt

[2018-10-26 20:06] alexmooc2 commented on #33
@shankari I used the link to install 1.1.1 and no more crashing. Although I am having some trouble logging into my opentoall account.
![unadjustednonraw_thumb_71b](https://user-images.githubusercontent.com/9628748/47590040-e1c81580-d91f-11e8-9136-5923be7afe71.jpg)
![unadjustednonraw_thumb_71c](https://user-images.githubusercontent.com/9628748/47590043-e7bdf680-d91f-11e8-8116-3b6ddc505273.jpg)

[2018-10-26 20:11] shankari commented on #33
@alexmooc2, that's great. I wasn't sure I was following the same steps as you were, so I wasn't sure if there was an error still lurking in there.

As for the opentoall auth error, @uwtcat and @Andrew-Tan generally handle everything after your client is loaded. I'll see if I can help them get a jump start on the error by seeing if I can reproduce.

[2018-10-26 20:32] shankari commented on #33
@alexmooc2, I just tried to reproduce with the test credentials that @uwtcat gave me. You can get them via PM. With those, the login was successful (I did not get a signin error), but then the app was stuck. I spent some time debugging, and it turns out that the server is down.

https://emission.open-to-all.com/ gives me "502 Bad Gateway".

So I think that @Andrew-Tan needs to spend some time maki

[2018-10-26 20:36] shankari commented on #33
I will now commit this change, tag a new release and submit to the app store.
Thanks for all the help debugging!

[2018-10-30 20:36] uwtcat commented on #33
Hi,

There's another issue having to do with errors that pop up before the
database has any information.
Essentially when the DB returns null results, the app doesn't catch those
and instead errs out.

We're onboarding our first participant tomorrow. He has an android, though,
so we're not dependent on the new iOS app availability.

Thanks!
Anat

On Tue, Oct 30, 2018 at 1:26 PM shankari <notificat

[2018-10-30 20:55] shankari commented on #33
Can you file a new issue for the errors that popup before the database has any information? Maybe with screenshots? I am not sure which db this is (phone DB/server DB, etc). I'll be happy to take a look. I just submitted the app for review, so the iOS update should be available in a couple of days as well. Would be good to update test credentials ASAP though...

[2018-10-30 20:56] shankari commented on #33
@uwtcat you can file the new issue against the e-mission-phone repository or the e-mission-docs repository